@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


#background{
    background-image: url('./Assets/placeholder.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 99dvw;
    height: 100dvh;
}

#hero-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10dvw;
    /* padding-top: 30dvh; */
    height: 100%;
    justify-content: center;
    gap: 2dvw;
}

#hero{
    font-size: 5dvw;
    font-family: 'Roboto', sans-serif;
}

#hero-sub{
    font-size: 2dvw;
    font-family: 'Roboto', sans-serif;
}

#btn-more-about{
    font-size: 1.5dvw;
    font-family: 'Roboto', sans-serif;
    

}

#more{
    text-decoration: none;
}

#more {
    --b: 4px;  /* border thickness*/
    --s: 30px; /* size of the corner*/
    --g: 8px; /* the gap*/
    --c: #007bff; 

    padding: calc(var(--b) + var(--g));
    background-image:
        conic-gradient(from  90deg at top    var(--b) left  var(--b),#0000 25%,var(--c) 0),
        conic-gradient(from -90deg at bottom var(--b) right var(--b),#0000 25%,var(--c) 0);
    background-position:
        var(--_p,0%) var(--_p,0%),
        calc(100% - var(--_p,0%)) calc(100% - var(--_p,0%));
    background-size: var(--s) var(--s);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 
        background-position .3s var(--_i,.3s), 
        background-size .3s calc(.3s - var(--_i,.3s));
}
#more {
    background-image:
        conic-gradient(from 180deg at top    var(--b) right var(--b),#0000 25%,var(--c) 0),
        conic-gradient(from   0deg at bottom var(--b) left  var(--b),#0000 25%,var(--c) 0);
    background-position:
        calc(100% - var(--_p,0%)) var(--_p,0%),
        var(--_p,0%) calc(100% - var(--_p,0%));
}
#more:hover {
    background-size: calc(100% - var(--g)) calc(100% - var(--g));
    --_p: calc(var(--g)/2);
    --_i: 0s;
}