.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-weight: 600;
    padding: 3dvw 4dvw;
}
.logo {
    display: flex;
    flex: 1.3;
    margin-top: -6dvw;
    margin-right: 2dvw;
    margin-bottom: -3dvw;
}
.home{
    display: flex;
    flex: 1;
        

}

.about {
    display: flex;
    flex: 1;
    margin-left: 4dvw;
    margin-right: -1dvw;
}

.portfolio {
    display: flex;
    flex: 1;
}

.services {
    display: flex;
    flex: 1;
    margin-right: 2dvw;
    margin-left: 2dvw;
}

.pages {
    display: flex;
    flex: 1;
    

}

.contact {
    display: flex;
    flex: 1;

}

.icons {
    display: flex;
    flex: 1;
    margin-top: -0.3dvw;

}
.icons > img {
    display: flex;
    flex: 1;
}

@media all and (max-width: 600px) {
    .navbar {
        flex-wrap: wrap;
    }
    .navbar > div {
        margin-top: 2dvw;
        flex: 1 1 50%;
    }
    .icons > img {
        margin-top: 2dvw;
        flex: 1 1 50%;
    }
}

.home:hover,
.about:hover,
.portfolio:hover
.pages:hover,
.contact:hover,
.services:hover {
  text-decoration: underline;
  cursor: pointer; /* Add a pointer cursor on hover */
}

.home,
.about,
.portfolio,
.pages,
.contact,
.services {
  position: relative;
  transition: all 0.3s ease; 
}


.home,
.about,
.portfolio,
.pages,
.contact,
.services {
    font-size: large;
}